.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgba(136, 136, 136, 0.5);
  text-transform: uppercase;
  height: 2em;
  /* border-bottom: 2px solid var(--gray); */
}

.container a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
